/* 
    Document   : estilos.css
    Created on : 06-oct-2010, 10:41:38
    Author     : jason
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1{
    color: blue;
    font-size: 120%;
}

table
{
    /*para que los bordes que se junten se conviertan en uno solo*/
    border-collapse:collapse;
}
table  th
{
    text-align: center;
    background-color: #CDCDCD;
}
table  td{
     padding-left: 5px;
      padding-right: 5px;
}
table  tbody tr
{
    background-color: white;
}
table  th, table  td
{
    border: 1px solid #CDCDCD;
    height:20px;
    vertical-align:bottom;
}
table  tbody tr:hover
{
    background-color: #FFD324;

}
/*formualrios*/
form label{
    font-family: sans-serif;
    color: darkorange;
    font-weight: bold;
}
/*clase de la lista de errores de los formularios*/
ul.errors li{
    color: red;
    font-weight: bold;
}