/* 
    Document   : estilos.css
    Created on : 06-oct-2010, 10:41:38
    Author     : jason
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1{
    color: blue;
    font-size: 120%;
}

/*table
{
    para que los bordes que se junten se conviertan en uno solo
    border-collapse:collapse;
}
table  th
{
    text-align: center;
    background-color: #CDCDCD;
}
table  td{
     padding-left: 5px;
      padding-right: 5px;
}
table  tbody tr
{
    background-color: white;
}
table  th, table  td
{
    border: 1px solid #CDCDCD;
    height:20px;
    vertical-align:bottom;
}
table  tbody tr:hover
{
    background-color: #FFD324;

}*/
/*formualrios*/
/*form label{
    font-family: sans-serif;
    color: darkorange;
    font-weight: bold;
}
clase de la lista de errores de los formularios
ul.errors li{
    color: red;
    font-weight: bold;
}

table.articles {
    width: 100%;
    line-height: 1;
    text-align: left;
}
table.articles th{
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    font-weight: bold;
}
table.articles td {
    border-bottom: 1px solid #eee;
    padding: 6px 0;
}

.header
{
    background: #FFF;
}
.breadcrumbs
{
    background:#EFEFEF;
    padding-top: 10px;
    padding-left: 5px;
}
.content 
{
    margin: 5px;
}
.topnav
{
    padding: 5px ;
}

.topnav ul , .topnav ul li
{
    display: inline;
}		
.topnav ul li a
{
    color: #00E;
    text-decoration: none;
    border-width: 1px 1px 0px 1px;
    border-color: #000;
    border-style: solid;
    padding: 5px;
}
.topnav ul li a:hover
{
    background: #CCC;
}*/
#subNav,#adminMenu,#userForm {
background: #fff;
width: 10em;
height: 10em;
margin: 0 0 .5em 0;
float: right;
}